/* Basic Setup for Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
}

/* TODO: Clean up replacing pink with cornflowerblue  */
:root {
  /* --pink: #ff3258; */
  --pink: cornflowerblue;
  --black: #010101; /* not exactly black  */
  --off-white: #ffffffc6;

  --nav-height: 8rem;

  --gutter-xx-small: 2rem;
  --gutter-x-small: 3rem;
  --gutter-small: 4rem;
  --gutter-medium: 6rem;
  --gutter-large: 8rem;
  --gutter-x-large: 10rem;
  --gutter-xx-large: 20rem;
}

body {
  font-family: "Jost", sans-serif;
  color: var(--off-white);
  font-size: 2rem;
  background-color: var(--black);
  font-weight: 300;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.row {
  max-width: 80%;
  margin: 0 auto;
  /* border: 1px solid; */
}

@media (max-width: 1350px) {
  .row {
    padding: 0 var(--gutter-large);
  }
}

@media (max-width: 850px) {
  .row {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 560px) {
  .row {
    padding: 0 var(--gutter-small);
  }
}

.btn {
  display: inline-block;
  padding: 1.2rem 4rem;
  border: 1px solid var(--pink);
  font-size: 2.2rem;
}

.btn-text {
  display: inline-block;
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid var(--pink);
}

.btn,
.btn-text {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.btn::after,
.btn-text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  display: block;
  height: 100%;
  width: 100%;
  background: white;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
  z-index: -1;
}

.btn:hover::after,
.btn-text:hover::after {
  right: 0;
  background: var(--pink);
}

img {
  object-fit: contain;
  max-width: 100%;
}

section {
  padding: var(--gutter-x-large) 0;
  border-bottom: 1px solid #222222;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: white;
  line-height: 1.3;
}

h1 {
  font-size: 7.5rem;
  /* font-weight: 400; */
  /* background-color: rgba(0, 0, 0, 0.2); */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  /* border: 1px solid; */
  line-height: 0.85;
}

h2 {
  font-size: 6rem;
}

h2::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 12rem;
  margin-top: 1rem;
  background-color: var(--pink);
}

h3 {
  font-size: 4rem;
}

@media (max-width: 590px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

ul {
  list-style-position: inside;
}

/* Header Styling */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Determine which version looks better, with or without darkening layer */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("images/blue-code-01a.jpg"); */
  background-image: url("images/header-00a.jpg");
  /* background-image: url("images/blue-code-01a.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 540px) {
  header {
    text-align: center;
  }

  .header-text-container {
    display: flex;
    justify-content: center;
  }
}

/* Note to self, adding display: flex and flex-direction: column above changes the alignment of the elements to be centered. Adding the below reverts back to the original alignment */
header .row {
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gutter-medium);
  /* padding: 2.5rem; */
  height: var(--nav-height);
}

@media (max-width: 540px) {
  nav {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  nav {
    gap: var(--gutter-small);
  }
}

@media (max-width: 340px) {
  nav {
    gap: var(--gutter-x-small);
  }
}

nav a {
  font-size: 2.2rem;
}

.header-text-container {
  /* Height = 100% minus nav height */
  height: calc(100% - var(--nav-height));
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.header-text-container p {
  font-size: 2.4rem;
  margin: 1rem 0 3rem;
}

/* My Work Styling */
/* TODO: Review media breakpoint to determine where is a good point to switch the flex to column so that the "Visit Site ->" text does not break up  */

.work-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--gutter-large);
  margin-top: var(--gutter-x-small);
  /* border: 1px solid red; */
}

@media (max-width: 1145px) {
  .work-box {
    gap: var(--gutter-small);
    flex-direction: column;
    align-items: initial;
  }
}

.work-box:first-of-type {
  margin-top: var(--gutter-medium);
}

.work-box:not(:last-child) {
  margin-bottom: var(--gutter-xx-large);
}

@media (max-width: 750px) {
  .work-box:not(:last-child) {
    margin-bottom: var(--gutter-x-large);
  }
}

.work-box-text > *:not(h3) {
  margin-top: var(--gutter-xx-small);
}

.work-box-img {
  max-width: 726px;
}

@media (max-width: 1350px) {
  .work-box-img {
    max-width: 600px;
  }
}

@media (max-width: 1145px) {
  .work-box-img {
    max-width: initial;
  }
}

.work-box-img img {
  max-width: 100%;
}

.work-box-links {
  display: flex;
  align-items: center;
  gap: var(--gutter-x-small);
}

.gh-link {
  transition: all 0.3s;
}

.gh-link:hover,
.gh-link:focus {
  transform: scale(1.3);
}

.gh-link img {
  height: 2.8rem;
}

/* Clients Styling */

.clients {
  display: flex;
  justify-content: space-between;
  padding: var(--gutter-medium) 0;
  /* overflow-x: scroll; */
  flex-wrap: wrap;
  gap: var(--gutter-x-small);
  /* border: 1px solid; */
}

.clients img {
  height: 65px;
  max-width: 180px;
  filter: grayscale(100%) invert(100%) opacity(0.8);
  margin-bottom: var(--gutter-x-small);
  border: 1px solid;
}

@media (max-width: 800px) {
  .clients img {
    height: 50px;
    max-width: 150px;
  }
}

/* Below looks to be not needed since we removed the scrollbar  */
/* @media (max-width: 1350px) {
  .clients img:not(:last-child) {
    margin-right: var(--gutter-medium);
  }
} */

/* About Me Styling */
/* TODO: See about centering About Me and Get in Touch sections vertially at smaller screen sizes */

.about {
  display: flex;
  align-items: center;
  gap: var(--gutter-large);
  margin-top: var(--gutter-medium);
}

/* TODO: Adjust the max-width value based on the amount of text after replacing the Lorem Ipsum placeholder  */
@media (max-width: 1145px) {
  .about {
    flex-direction: column;
    gap: var(--gutter-small);
  }
}

.about-text p {
  margin-bottom: var(--gutter-x-small);
}

.about-img {
  flex: 0 0 650px;
}

@media (max-width: 1350px) {
  .about-img {
    flex: 0 0 500px;
  }
}

@media (max-width: 1145px) {
  .about-img {
    flex: initial;
  }
}

/* Get in Touch Styling */

.contact {
  max-width: 670px;
}

.contact p {
  margin: var(--gutter-medium) 0 var(--gutter-x-small);
}

/* Footer Styling */

footer {
  margin: var(--gutter-large) 0 var(--gutter-small);
  text-align: center;
}

.footer-social {
  margin-bottom: var(--gutter-small);
}

.footer-social a:not(:last-child) {
  margin-right: var(--gutter-xx-small);
}

.footer-social img {
  height: 40px;
}
